/*Head Nav*/
body {
    width: 100vw;
    height: 100vh;
}

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 0 5vw;
}


.logo {
    width: 10vw;
    height: 10vh;
}

.menu button {
    background: none;
    border: none;
    color: white;
    font-size: 2vw;
}

.navbar {
    width: 12vw;
    background-image: linear-gradient(to right, #a87c1d, transparent);
    text-shadow: 5px 5px 10px black;
    height: 100vh;
    padding-left: 2vw;
    padding-top: 10vh;
    display: flex;
    overflow: auto;
}

.navbar ul {
    list-style: none;
    justify-content: center;
    align-items: center;
}

.navbar li, a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 12vh;
    transition: ease 0.2s;
}

.navbar li:hover {
    transform: translateX(2vw);
    transition: ease 0.3s;
}