* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e2d9c3;
    height: 100vh;
}

/*Head Nav*/

.head {
    display: flex;
    padding: 30px 10%;
    background-color: goldenrod;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
li, a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

/*logo*/
.logo {
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
    transition: ease 0.25s;
}

.logo:hover {
    transform: skewX(-20deg) translateX(20px);
    transition: ease 0.25s;
    filter: drop-shadow(-10px 0 10px #817147);
}

/*Responsive Logo*/
.logores {
    font-size: 2rem;
    cursor: pointer;
    display: none;
    transition: ease 0.25s;
}

.logores:hover {
    transform: translateX(10px);
    transition: ease 0.25s;
    text-shadow: -10px 0 10px #817147;
}

 /*nav*/
.navlink {
    list-style-type: none;
    display: inline-flex;
    gap: 20px;
}

/*LoginNav*/

.login-navlink {
    list-style-type: none;
    display: inline-flex;
    gap: 20px;


}

.login-navlink button {
    background-color: #333;
    color: goldenrod;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
    border: none;
    font-size: 1rem;
}

.login-navlink button:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
}

/*dropdown menu*/
.hamburger_menu {
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.dropdown{
    display: none;
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 250px;
    height: 0;
    background: goldenrod;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.dropdown li{
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown button {
    background-color: #333;
    color: goldenrod;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    transition: ease-in-out 0.2s;
    border: none;
    font-size: 1rem;
}

.dropdown button:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
}

.dropdown.open{
    height: 480px;
}

.dropdown .login-navlink button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*dropdown settings*/
.settings-menu {
    font-size: 1.5rem;
    cursor: pointer;
    display: block;
    transition: ease 100ms;
}

.settings-menu:hover {
    transform: rotateZ(45deg) scale(1.1);
    transition: ease 100ms;
}


.settings-dropdown {
    display: none;
    position: absolute;
    right: 2rem;
    top: 100px;
    width: 250px;
    height: 0;
    background: goldenrod;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
}

.settings-dropdown li {
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.settings-dropdown button {
    border: none;
    background-color: transparent;
}

.settings-dropdown i{
    font-size: 2rem;
}

.settings-dropdown.open{
    height: 480px;
    display: block;
}

/*Responsive*/
@media (max-width: 1048px){
    .navlink, .login-navlink, .settings-menu {
        display: none;
    }
    .hamburger_menu {
        display: block;
    }
    .dropdown{
        display: block;
    }
}


@media (max-width: 576px){
    .logo {
        display: none;
    }
    .dropdown{
        left: 2rem;
        width: unset;
    }

    .logores, .dropdown {
        display: block;
    }
}
