/*Head Nav*/

header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    padding: 0 10vw;
}
li, a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
}

.logo {
    width: 10vw;
    height: 10vh;
}

.menu button {
    background: none;
    border: none;
    color: white;
    font-size: 2vw;
}

