* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-color: #e2d9c3;
}

.hero {
    background-color: rgba(177, 141, 65, 0.5);
    margin: 10px 10%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
    flex-direction: column;
    height: 80vh;
    z-index: -10;
}

.hero img {
    margin-left: auto;
    margin-right: auto;
}

