* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

header {
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    z-index: 1;
    position: fixed;
    width: 100%;
}


.navbar li, .navbar a {
    list-style: none;
    display: inline-block;
    padding: 0 0.5rem;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    transition: ease 200ms;
}

.navbar a:hover {
    text-shadow: 0 0 10px white;
    transform: scale(1.1);
    transition: ease 200ms;
}

.hamburger button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: white;
}

.dropdown-c {
    display: none;
    position: fixed;
    justify-content: space-around;
    z-index: 1;
    background-color: #F7DC8B;
    height: 100vh;
    top: 0;
    right: 0;
    width: 300px;
    box-shadow: 0 0 50px black;
    padding: 20px;
    color: black;
    transition: all 500ms;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.dropdown-c .user{
    justify-content: space-around;
    margin: 20px 0;
}

.dropdown-c .menu {
    padding: 20px;
    flex-direction: column;
}

.dropdown-c .menu li {
    list-style: none;
    margin-top: 5px;
    padding: 10px 20px;
    border-radius: 10px;
}

.dropdown-c .menu li a {
    text-decoration: none;
    color: black;
}

.dropdown-c .menu li:hover {
    background-color: #ddbe62;
}

.show {
    display: inline-block;
    max-height: 100vh;
}

@media screen and (max-width: 600px) {
    header {
        justify-content: space-around;
    }
    .navbar{
        display: none;
    }
}