body{
    background-image: radial-gradient( #e8c24c, goldenrod);
    background-attachment: fixed;
}


section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero {
    height: 100vh;
    color: white;
}

.hero a {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    text-decoration: none;
    padding: 20px 40px;
    margin: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 40px;
    transition: ease 200ms;
}

.hero a:hover {
    background-image: linear-gradient(white, wheat);
    border: 3px solid transparent;
    color: yellow;
    transform: scale(1.1);
    transition: ease 200ms;
}