* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100vh;
    background-image: linear-gradient(rgb(212, 212, 56),rgb(212, 156, 12));
    background-attachment: fixed;
}

.hero {
    margin: 10px 10%;
    color: white;
    text-align: start;
    display: flex;
    justify-content: center;
    position: relative;
    flex-direction: column;
    height: 80vh;
    z-index: -10;
}

.about {
    padding: 30% 50px;
    height: 30vh;
    display: flex;
}

