main .profile {   
    background-color: wheat;
    display: flex;
}

main .profile img {
    width: 150px;
    height: 250px;
}

main .profile table {
    float: left;
}

main .gpa table {
    border: 1px solid black;
    width: 100%;
}

main .gpa table th, td {
    padding: 20px;
}